{% extends 'base.html' %}

{% block content %}
    {% if item %}

    <form class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type = "datetime-local" placeholder="{{ item.due_date}}"
        value="{{ item.due_date }}" aria-label="datetime-local" name="due_date">
        <input type="hidden" value="{{ item.completed }}" name="completed">
        <input type="hidden" value="{{ item.name }}" name="name">
        <button class="btn btn outline-secondary my-2 my-sm-0" type="submit">Change Due Date</button>
    </form>


    {% endif %}


{% endblock %}